<p id="notice"><%= notice %></p>

  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">
              <%= @cow.name %> <small>Statistics Overview</small>
          </h1>
          <ol class="breadcrumb">
              <li class="active">
                  <i class="fa fa-dashboard"></i> Cows / <%= @cow.name %>
              </li>
          </ol>
      </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-sm-9">
        <div class="row">
          <% @cow.calves.each do |calf| %>
            <div class="col-lg-1 col-md-2 col-sm-3 col-xs-4">
              <img class="img-responsive" src="<%= @cow.image_url %>">
            </div>
          <% end %>
        </div>
    </div>
    <div class="col-md-4 col-sm-3">
        <div class="panel panel-primary text-center">
            <div class="panel-heading">

              <div class="huge"><%= @cow.calves.count %></div>
              <div class="after-huge">Calves!</div>
              <hr/>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
  </div>

  <hr>

  <div class="row text-justify">
    <div class="col-md-6">
      <p class="well well-lg">Cows are referred to as the foster mothers of the human race because they produce most of the milk that people drink.

USA Map
The first cow in America arrived in Jamestown colony in 1611. Until the 1850's, nearly every family had its own cow. The first regular shipment of milk by railroad was between Orange County, New York, and New York City and began in 1841.

In 1856, Gail Borden invented the condensed milk process. This process removed some of the water from milk so it would take up less space. Refrigeration came into use in 1880, and the first pasteurizing machine was introduced in 1895.

Lab

Dairying has improved through the years. Today, one cow can produce the milk that it once took 10 cows to produce.

Around 9.2 million cows are being milked on 110,000 farms in the United States. More than 99% of all dairy farms are family owned and operated.

Cows are milked for an average of 3-4 years. A cow must have a calf in order to produce milk.Calves are fed milk until they are 8-9 weeks old.

Cow	The average cow is 2 years old when she has her first calf.
Calves are fed milk until they are 8-9 weeks old.
A young female cow is called a heifer.
Before milking machines were invented in 1894, farmers could only milk about 6 cows per hour. Today, farmers use machines to milk more than 100 cows per hour.

CowsCows are ruminants, which are cud chewing mammals. Sheep and camels also are ruminants.  Alarm Clock

A cow chews her cud (regurgitated, partially digested food) for up to 8 hours each day.

Dairy Cow
Dairy cows provide 90% of the world's milk supply. The best cows give over 25 gallons of milk each day. That's 400 glasses of milk! U.S. cows give an average of 2,000 gallons of milk per year. That's over 30,000 glasses of milk!</p>
    </div>
  </div>

<hr  class="featurette-divider"/>


<%= link_to 'Edit', edit_cow_path(@cow) %> |
<%= link_to 'Back', cows_path %>
