<p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @cow.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @cow.description %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= @cow.image_url %>
  </p>


  <div class="row">
    <% @cow.calves.each do |calf| %>
      <div class="col-md-1">
        <strong>Calf:</strong>
        <%= calf.name %>
      </div>
    <% end %>
  </row>

<%= link_to 'Edit', edit_cow_path(@cow) %> |
<%= link_to 'Back', cows_path %>
